<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <!--    mvp.css-->
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <!--    jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
    <script>
        // 게시글 저장
        function save() {
            let title = $("#title").val()
            let content = $("#content").val()

            $.ajax({
                type: "POST",
                url: "/write",
                data: {title_give:title, content_give:content},
                success: function (response) {
                    alert(response["msg"]);
                    return location.replace("/")
                }
            })

        }
    </script>
</head>
<body>
    <header>
        <ul>
            {% if login == False %}
            <li><a href="/">메인페이지</a></li>
            <li><a href="/join">회원가입</a></li>
            {%else %}
            <li><a href="/">메인페이지</a></li>
            <li><a href="/write">글쓰기</a></li>
            {%endif%}
        </ul>
    </header>
    <form>
        <input type="text" placeholder="Title" id="title" required>
        <br>
        <input type="text" placeholder="Content" id="content" required>
        <br>
        <button onclick="save()" type="button" >작성하기</button>
    </form>

</body>
</html>